.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
    margin-right: 5 px;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.purple{
    background-color: purple;
}